body {
    margin: 0;
    overflow-x: hidden;
}
/*
    LINKS
*/

[class*="zocial-"]:before {
    color: black;
    display: inline-block;
    font-family: 'zocial', sans-serif;
    text-shadow: 3px 3px 3px indianred;
    width: 2em;
}

a:hover [class*="zocial-"]:before {
    color: indianred;
}

#social {
    margin-left: auto;
    margin-right: auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#social > a {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

a {
    color: hotpink;
    text-decoration: none;
}

a:hover {
    color: hotpink;
    text-decoration: underline;
}

a#viewSource {
    border-top: 1px solid #ddd;
    display: block;
    margin: 1em auto 0 auto;
    padding-top: 1em;
}

div#social a {
    margin: 0 1em 0 0;
}

div#social a:last-of-type {
    margin: 0;
}

/*
 ******************************
    LAYOUT
 ******************************
 */

/*
    Header
*/

header {
    max-width: 50em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 auto;
}

header:hover svg#logo {
    fill: indianred;
    -webkit-filter: drop-shadow(3px 3px 3px indianred);
    filter: drop-shadow(3px 3px 3px black);
}

h1 {
    font-size: 7vw;
}

svg#logo {
    display: block;
    fill: #333;
    height: 6vw;
    width: 6vw;
    margin: 1em auto 0 auto;
}

picture#banner img{
  -webkit-filter: saturate(3) opacity(0.8);
    max-width: 100vw;
    width: 100vw;
    opacity; 
}
picture#grasshopper img{
    filter: saturate(1);
}
/*
    Article
*/

article {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 50em;
    margin: 0 auto;
    padding: 0 1em;
    border-bottom: 1px solid indianred;
}

footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 50em;
}

div#social,
a#viewSource {
    line-height: 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

figcaption {
    color: indianred;
    margin: 1em auto 0 auto;
}

figure {
    margin: 1em 0 1em 0;
}

footer {
    margin: 0 auto;
}


h1,
h2,
figcaption {
    text-align: center;
}

h2 {
    font-size: 4w;
    color: #bb021e;
    margin-top: 1.2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #333;
}

img,
#flower {
    max-width: 100%;
}

h1,
picture>figcaption,
footer a{
    color: #333;
}
h2{
    color: indianred;
    font-size: 5vw;
}
p{
    text-align: justify;
    line-height: 1.4;
    font-size: 1.15em;
    color: #333;
}

.main-text {
    margin-top: 0;
}
